body {
  background: #ff5f9e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.card {
  background: #fff2e9;
  width: 700px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  gap: 30px;
}

.text {
  width: 60%;
}

.love {
  font-weight: bold;
}

.time {
  margin-top: 20px;
}

.heart {
  width: 200px;
  height: 200px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  margin-top: 40px;
}

.heart::before,
.heart::after {
  content: "";
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -100px;
  left: 0;
}

.heart::after {
  left: 100px;
  top: 0;
}
